.email{
  width: 450px;
  height: 120px;
  display: block;
  margin-top: 210px;
  text-align: left;
}

.email a{
  text-decoration: none;
  color: #99caaa;
  font-size: 17px;
  position: relative;
  top: 14px;
  left: 8px;
}

#envelope{
  
  width: 70px;
  height: 50px;
  margin-left: 10px;
  float: left;
}
.contactmelink{ 
  width: 30px;
  height: 32px;
  margin: 12px 0px 0px 15px;
}
.contactme2link{
  width: 30px;
  height: 32px;
  margin: 12px 0px 0px 65px;
}

#githublink{
  background: url('../images/github.png');
  background-position: 0px 32px;
  background-size: cover;
  -o-transition:color 0.05s ease-out, background 0.05s ease-in;
  -ms-transition:color 0.05s ease-out, background 0.05s ease-in;
  -moz-transition:color 0.05s ease-out, background 0.05s ease-in;
  -webkit-transition:color 0.05s ease-out, background 0.05s ease-in;
  transition:color 0.05s ease-out, background 0.05s ease-in;
 }

#githublink:hover {
  background: url('../images/github.png');
  background-size: cover;
}


#linkedlink{
  background: url('../images/linked.png');
  background-position: 0px 33px;
  background-size: cover;
  -o-transition:background 2s ease-out, background 0.25s ease-in;
  -ms-transition:background 2s ease-out, background 0.25s ease-in;
  -moz-transition:background 2s ease-out, background 0.25s ease-in;
  -webkit-transition:background 2s ease-out, background 0.25s ease-in;
  transition:background 2s ease-out, background 0.25s ease-in;
}

#linkedlink:hover {
  background: url('../images/linked.png');
  background-size: cover;
}

@-webkit-keyframes hang {
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hang {
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hang {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hang;
  animation-name: hang;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


.color-4 {
  background: #0e83cd;
}


.cl-effect-2 a {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 0 14px;
  background: #2195de;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0965a0;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
  background: #28a2ee;  
}