body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}

/*div {
	border: 1px dashed #000000;
}
*/
.homebox {
	width: 100%;
	height: 705px;
}

#firstbox{
	background-image: url('../images/topbg.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 70px;
}

.navbar{
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0, 0.1);

}
.navlinks li{
	display: inline-block;
	float: right;
	margin: 15px 100px 0px 0px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 10px;
}

.doodle{
	display: inline-block;
	margin: 80px 20px 0px 100px;
	
	width: 444px;
	height: 395px;
	background-image: url('../images/doodle.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}


.name {
	position: relative;
	display: inline-block;
	
	width: 600px;
	height: 395px;	
}

.name div{
	display: inline-block;
	
	float: right;

}


.hello{
	width: 600px;
	height: 100px;
	background-image: url('../images/hello.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
}

.myname{
	width: 600px;
	height: 245px;	
	background-image: url('../images/nametop.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
}
.firstlinks{
	width: 500px;
	height: 40px;
	margin-top: -70px;
	margin-right: 20px;
}



#secondbox{
	background-color: #9dd6b4;
}


#fourthbox{
	-moz-box-shadow:    inset 0 0 40px #000000;
	-webkit-box-shadow: inset 0 0 40px #000000;
	box-shadow:         inset 0 0 40px #000000;
	background-color: #3f3f3f;
	min-width: 800px;
	height: 360px;
	padding: 20px;

}

#fourthbox div{
	display: inline-block;
	float: left;
	margin-right: 20px;
	/*border: 1px solid black;	*/
}
.fourtboxdiv{
	height: 350px;
	display: inline-block;
}
.fourthlines{
	width: 220px;
	height: 50px;
}

#fourthsendline{
	width: 220px;
	height: 190px;
}

.photo{
	margin: 5px 25px;
	width: 330px;
	height: 340px;
	background-image: url('../images/selfpic.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#fdivcontact{
	margin-left: 30px;
	width: 450px;
	background-image: url('../images/connect.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#fdivinfo{
	width: 290px;
	background-image: url('../images/middle.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	bottom: -30px;
	text-align: center;


}
#fdivpicture{
	width: 380px;
}

.divinfo{
	width: 290px;
	height: 50px;
/*	border: 1px solid #FFFFFF;*/
}

#linkedint{
	margin-top: 150px;
}
#githubt{
	margin-top: 28px;
}
#blogt{
	margin-top: 20px;
}






.footer{
	width: 100%;
	min-height: 20px;
	background-color: #9dd6b4;
	padding: 15px;
}
#leftfooter{
	width: 480px;
	height: 25px;
	float: left;
	margin-left: 40px;
}
#footertext{
	font-size: 12px;
}
#rightfooter{
	width: 320px;
	height: 25px;
	float: right;
	margin-right: 40px;
}

